* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #0f2027, #212c30, #35393a);
        font-family: Arial, sans-serif;
      }

      .container {
        text-align: center;
        color: white;
      }

      h1 {
        font-size: 42px;
        margin-bottom: 20px;
        text-shadow: 0 0 10px #a30eff, 0 0 20px #5dae5c;
      }

      /*  ANALOG CLOCK  */
      .clock {
        width: 300px;
        height: 300px;
        border: 10px solid #b4b9b8;
        border-radius: 50%;
        position: relative;
        background: #111;
        margin: 30px auto;
        box-shadow: 0 0 30px rgba(116, 122, 121, 0.321);
      }

      .clock .number {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        transform: rotate(calc(var(--i) * 30deg));
      }

      .clock .number span {
        display: inline-block;
        transform: rotate(calc(var(--i) * -30deg));
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 10px;
      }
      .center {
        width: 12px;
        height: 12px;
        background: #00ffd5;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      .hand {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform-origin: bottom;
        transform: translateX(-50%) rotate(0deg);
      }

      .hour {
        width: 6px;
        height: 70px;
        background: white;
        border-radius: 5px;
      }

      .minute {
        width: 4px;
        height: 100px;
        background: #5dae5c;
        border-radius: 5px;
      }

      .second {
        width: 2px;
        height: 120px;
        background: red;
      }

      /* DIGITAL CLOCK  */
      .digital {
        font-size: 28px;
        padding: 12px 25px;
        border: 2px solid #bac3c1;
        border-radius: 10px;
        background: #111;
        display: inline-block;
        margin-top: 10px;
        box-shadow: 0 0 15px rgba(186, 195, 193, 0.4);
      }